.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
  max-height: 300px;
  overflow-y: auto;
  margin-top: 1rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}
