.controls {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: #000;
}

.controls.error {
  color: red;
}

.controls.error input {
  border: 1px solid red;
  outline-color: red;
}

.controls label {
  font-weight: bold;
  font-size: 18px;
}

.controls input {
  width: 250px;
  border: 1px solid #383838;
  border-radius: 5px;
  padding: 0.5rem;
}

.controls p {
  font-size: 14px;
}
